@tailwind base;
@tailwind components;
@tailwind utilities;

.task {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center
}

.tittleTask {
  padding-top: 15px;
  padding-left: 20px;
  font-weight: 500;
}

.modelTask {
  background-color:#F6F5F8;
  display: flex;
  gap: 10px;
  width: 30%;
  height: 500px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.199);
  border-radius: 5px;
}